body {
    background-color: rgb(139, 14, 14);
}

.flex-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper{
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover{
    opacity: 0.6;
}

#btn-next{
    left: auto;
    right: 0;
}

.slide{
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active{
    display: block;
}

.slide-img{
    width: 100%;
    height: 100%;
}

.dots-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active{
    background-color: black;
}

span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}

span:last-child{
    margin-right: 0 ;
}

.col-md-2 {
    padding: 0;
    justify-content: center;
    align-items: center;
}

.col-md-4  {
    padding: 0;
}

.mb-3 {
    margin-bottom: 0 !important;
}

li {
    list-style: none;
    margin-right: 25px;
    height: 100%;
    align-items: center !important;
    display: flex;
}

li:hover {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.scale:hover {
    transform: scale(1.3, 1.3);
    transition: 2s;
}

.rotate:hover {
    transform: rotateY(360deg);
    transition: 2s;
}

.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
    /*width: 332px;*/
}

.odegda{
    height: auto;
	max-width: 100%;
}

.info {
    color: red;
}


@media (max-width:1024px){
    body{
        background-color: rgb(20, 151, 37);
    }
    
    #col{
        display: flex;
        justify-content: center;
    }

    #a1{
        background-color: yellow !important;
        border: 1px solid yellow !important;
    }

    h2{
        color: yellow !important;
    }
    
    label{
        color: yellow !important;
    }

    .rotate {
        transform:rotateX(360deg) ;
        transition: 2s;
    }
}

 @media(min-width:768px){
     #block1{
         display: none;
     }

     header {
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    
    content{
      position: relative;
      top: 100px;
    }

    #block{
        position: relative;
    }

    .footer{
        position: relative;
        margin-top: 140px !important;
    }

 }

@media (max-width:767px){
    #block{
        display: none;
    }

    .flex-wrapper{
        display: none;
    }

    .dots-wrapper {
        display: none;
    }

    body{
        background-color: rgb(20, 20, 151);
    }
    
    #col{
        display: flex;
        justify-content: center;
    }

    #a1{
        background-color: blueviolet !important;
        border: 1px solid blueviolet !important;

    }

    h2{
        color: blueviolet !important;
    }
    label{
        color: blueviolet !important;
    }
    .rotate {
        transform:rotateX(360deg) ;
        transition: 2s;
    }
}

@media (max-width:320px){
    #block{
        display: none;
    }

    .flex-wrapper{
        display: none;
    }

    .dots-wrapper {
        display: none;
    }

    body{
        background-color: orange;
    }

    .rotate {
        transform:rotateX(360deg) ;
        transition: 2s;
    }

    #container{
        margin-top: 0px!important;
    }

    h2{
        color: black !important;
    }

    #a1 {
        background-color: black !important;
        border: 1px solid black !important;
    }

    label {
        color: black !important;
    }
    
    #col{
        display: flex;
        justify-content: center;
    }
}


    
